.contact {
    display: flex;
    margin-top: 15rem;
    max-width: 62rem;

    .cta {
        position: relative;
        width: 60%;

        font-weight: 700;

        P {
            font-size: 2.5rem;
            color: var(--text-light);
            margin-bottom: 1rem;
        }

        a {
            font-size: 2rem;
            color: var(--primary);

            i {
                position: relative;
                transform: rotate(-45deg);
                transition-duration: 0.2s;
                transition-timing-function: cubic-bezier(.4, 0, .2, 1);
                font-size: 1.2rem;
                bottom: 0;
                left: 0;
                transition: 0.5s;
            }

            &:hover i {
                bottom: 10px;
                left: 10px;
            }
        }


    }

    .visuals {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .enveloppe,
        .lightbulb {
            position: absolute;
        }

        .lightbulb {
            left: 0;
            bottom: 0;
            max-width: 7rem;
            width: 30%;
            // animation: float 10s infinite linear;
        }

        .enveloppe {
            right: -4%;
            top: -10%;
            width: 50%;
            min-width: 10rem;
            max-width: 12rem;
        }

        .gradient-orb {
            width: 100%;
            max-width: 20rem;
        }
    }
}


// @keyframes float {
//     0% {
//         transform: translate(0, 0);
//     }

//     25% {
//         transform: translate(8px, 8px);
//     }

//     50% {
//         transform: translate(0, 0) rotate(-5deg);
//     }

//     75% {
//         transform: translate(-8px, -8px);
//     }

//     100% {
//         transform: translate(0, 0);
//     }
// }

@media screen and (max-width: 900px) {

    .contact {
        margin-top: 8rem;
        flex-direction: column;


        .cta {
            width: 100%;
            text-align: center;
        }

        .visuals {
            width: 80%;
            max-width: 20rem;
            margin: auto;
            margin-top: 3rem;

            .gradient-orb {
                width: 90%;
            }
        }
    }
}

@media screen and (max-width: 450px) {

    .contact {

        .cta {
            p {
                font-size: 2rem;
            }

            a {
                font-size: 1.5rem;
            }
        }


        .visuals {
            .enveloppe {
                min-width: 5rem;
            }
        }
    }
}