.my-background .title-section {
    max-width: 35rem;
}

.my-background .title-section .bg-orb {
    right: 15%;
}

.my-background--content {
    margin-top: 4rem;
}

.my-background--content .background-tabs {
    position: relative;
    border-bottom: 1px solid var(--secondary);
}

.my-background--content .background-tabs:before {
    position: absolute;
    content: '';
    width: 8rem;
    height: 1px;
    background-color: var(--primary);
    bottom: -1px;
}

.my-background .tabs-titles {
    display: flex;
}

.my-background .tabs-titles h3 {
    display: flex;
    color: var(--secondary);
    width: 12rem;
    padding-bottom: 1rem;
    transition: 0.3s;
    cursor: pointer;
}

.my-background .tabs-titles h3:hover {
    color: var(--txt-light);
}

.my-background .tabs-titles .active {
    color: var(--txt-light);
}


.my-background .education--block {
    display: flex;
    width: 80%;

}

.my-background .education--block .date {
    width: 20%;
}

.my-background .education--block .content {
    width: 80%;
}