.projects {

    .title-section {
        max-width: 30rem;
        position: relative;
        margin-bottom: 5rem;

        .bg-orb {
            left: -40%;
            top: -25%;
        }
    }

    .projects-list {
        .project:nth-child(2n) {
            margin-left: auto;
        }
    }

    .project {
        max-width: 40rem;
        margin-bottom: 10rem;
        border: 1px solid rgba(255, 255, 255, 0.11);

        // Project images
        .header {
            height: 20rem;
            background-size: cover;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                transition-timing-function: cubic-bezier(.31, .48, .37, 1.01);
                transition-duration: 0.5s;
            }
        }

        // Project description
        .content {
            padding: 2.5rem 3rem;

            .title {
                margin-bottom: 1rem;

                p {
                    font-size: 1.25rem;
                    font-weight: 600;
                    color: var(--text-light)
                }
            }

            .description p {
                margin-bottom: 0.5rem;
                font-size: 0.875rem;
            }

            .technologies {
                margin-top: 1.2rem;
            }
        }

        // 1st project
        &:first-child {
            .header {
                background-image: url("./../img/bg-1.png");

                img:first-child {
                    right: 10%;
                    width: 50%;
                    bottom: -2rem;
                    z-index: 1;
                }

                img:nth-child(2) {
                    width: 70%;
                    left: 10%;
                    bottom: -3rem;
                }
            }

            &:hover {
                img:first-child {
                    bottom: -1px !important;
                }

                img:nth-child(2) {
                    bottom: -2rem !important;
                }
            }
        }

        // 2nd project
        &:nth-child(2) {
            .header {
                background-image: url("./../img/bg-2.png");

                img:first-child {
                    width: 40%;
                    left: 8%;
                    bottom: -2rem;
                }

                img:nth-child(2) {
                    width: 40%;
                    right: 8%;
                    bottom: -1rem;
                }
            }


            &:hover {
                img:first-child {
                    bottom: -1px !important;
                }

                img:nth-child(2) {
                    bottom: -1px !important;
                }
            }
        }


        // 3rd project
        &:nth-child(3) {

            .header {
                background-image: url("./../img/bg-3.png");

                img:first-child {
                    height: 90%;
                    left: 5%;
                    z-index: 1;
                    bottom: 0;
                }

                img:nth-child(2) {
                    height: 100%;
                    right: 8%;

                }
            }
        }

        // 4th project
        &:nth-child(4) {

            .header {
                background-image: url("./../img/bg-1.png");

                img:first-child {
                    width: 40%;
                    left: 5%;
                    bottom: -2rem;
                }

                img:nth-child(2) {
                    width: 30%;
                    right: 8%;
                    bottom: -1rem;
                }
            }
        }

    }

    .project-with-link {
        cursor: pointer;
        transition: 0.3s;
        display: block;

        .title {
            display: flex;
            align-items: baseline;

            p {
                margin-right: 0.5rem;
            }
        }

        &:hover {
            background-color: rgba(88, 88, 88, 0.1);

            .title {

                p,
                i {
                    color: var(--primary);
                }

                i {
                    bottom: 5px;
                    left: 5px;
                }
            }

        }
    }
}


@media screen and (max-width: 768px) {

    .projects {
        .title-section {
            margin-bottom: 2rem;
        }

        .project {
            margin-bottom: 5rem;

            .header {
                height: 15rem;
            }

            // 1st project
            &:first-child {
                .header {
                    img:first-child {
                        right: 5%;
                        height: 90%;
                        width: auto;
                        bottom: 0;
                        max-width: 15rem;
                    }

                    img:nth-child(2) {
                        left: 5%;
                        max-width: 20rem;
                        bottom: 0;
                    }
                }
            }

            // 2nd project
            &:nth-child(2) {
                .header {
                    img:first-child {
                        height: 90%;
                        width: auto;
                        bottom: 0;
                        left: 10%;
                    }

                    img:nth-child(2) {
                        width: 50%;
                        max-width: 13rem;
                        bottom: 0;
                        right: 10%;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 450px) {
    .projects {
        .project {

            .content {
                padding: 1.5rem 0.8rem;
            }

            // 1st project
            &:first-child {
                .header {
                    img:nth-child(2) {
                        height: 45%;
                        width: auto;
                    }
                }
            }

            // 2nd project
            &:nth-child(2) {
                .header {
                    img:first-child {
                        left: 5%;
                    }

                    img:nth-child(2) {
                        right: 5%;
                    }
                }
            }
        }
    }
}