@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

:root {
  --dark: rgb(36, 36, 36);
  --text-light: rgb(255, 255, 255);
  --secondary: rgb(160, 184, 207);
  --primary: #7290FE;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  position: relative;
  background-color: rgb(15, 23, 42);
  color: var(--text-light);
}

h1 {
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h1,
h2,
h4 {
  line-height: 1.4;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: 700;
}

p {
  color: var(--secondary);
  line-height: 1.6;
}

.txt-primary {
  color: var(--primary);
}

.txt-light {
  color: var(--text-light);
}

.orb-left,
.orb-right {
  position: relative;
}

.orb-left:before,
.orb-right:before {
  content: "";
  position: absolute;
  width: 20vw;
  min-width: 15rem;
  max-width: 20rem;
  aspect-ratio: 1;
  z-index: -1;
  transform: translate(-50%, -50%);
  background: rgba(52, 51, 141, 0.25);
  filter: blur(120px);
}

.orb-right:before {
  right: 0;
  transform: translate(0);
}

.subheading {
  color: var(--primary);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.container {
  width: 80%;
  max-width: 62rem;
  margin: auto;
  margin-bottom: 10rem;
}

/* Fixed social bar */
.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 3%;
  z-index: 50;
}

.socials > * {
  display: inline-block;
}

.socials span {
  margin-top: 0.5rem;
  height: 8rem;
  width: 1px;
  background-color: var(--secondary);
}

.socials i {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  opacity: 0.6;
  transition: 0.2s;
}

.socials a:hover i {
  transform: translateY(-3px);
  color: var(--primary);
  opacity: 1;
}

.technologies {
  max-width: 31rem;
}
.technologies li {
  display: inline-block;
  color: var(--primary);
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  margin-right: 0.4rem;
  margin-bottom: 0.8rem;
  border-radius: 12px;
  background-color: hsla(227, 99%, 72%, 0.15);
}

.title i {
  position: relative;
  transform: rotate(-45deg);
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 0.8rem;
  bottom: 0;
  left: 0;
}

footer {
  color: var(--secondary);
  margin: auto;
  text-align: center;
  margin-bottom: 2rem;
  width: 90%;
}
footer a {
  color: var(--secondary);
  opacity: 0.5;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  display: inline-block;
  transition: 0.2s;
}
footer a:hover {
  color: var(--primary);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .container {
    margin-bottom: 8rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  .socials {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .container {
    width: 90%;
    margin-bottom: 5rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  footer {
    font-size: 0.875rem;
  }
}
#cursor,
.cursor-circle {
  display: none;
}

@media (min-width: 64rem) {
  #cursor,
  .cursor-circle {
    display: block;
    z-index: -1;
  }
  #cursor {
    top: 0;
    left: 0;
    position: fixed;
    pointer-events: none;
    transition: transform 0.05s linear;
  }
  .cursor-circle {
    width: 2rem;
    height: 2rem;
    margin-top: -50%;
    margin-left: -50%;
    border-radius: 50%;
    background-color: var(--primary);
    opacity: 0.5;
    transition: background-color 0.5s cubic-bezier(0.25, 1, 0.5, 1), filter 0.5s cubic-bezier(0.25, 1, 0.5, 1), width 0.5s cubic-bezier(0.25, 1, 0.5, 1), height 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  }
  .cursor-circle-grow {
    width: 8rem;
    height: 8rem;
    mix-blend-mode: normal;
    background: rgba(85, 81, 239, 0.7);
    filter: blur(35px);
  }
}
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: auto;
  max-width: 90rem;
  width: 90%;
}
.hero-section h1 {
  font-size: clamp(2rem, 3vw, 3.125rem);
}
.hero-section .small-h1 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}
.hero-section > div {
  width: 100%;
}
.hero-section .introduction {
  max-width: 42rem;
  margin-left: 4%;
}
.hero-section .introduction p {
  max-width: 32.5rem;
}
.hero-section .visuals {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 4rem;
  position: relative;
}
.hero-section .visuals .content--canvas {
  aspect-ratio: 1;
  max-width: 38rem;
  max-height: 38rem;
}
.hero-section .visuals .visuals-box {
  max-height: 40rem;
  position: relative;
  margin-bottom: 5rem;
}
.hero-section .visuals .laptop,
.hero-section .visuals .phone {
  position: absolute;
}
.hero-section .visuals .laptop {
  bottom: -15%;
  right: -10%;
  width: 72%;
}
.hero-section .visuals .laptop img {
  object-fit: contain;
  width: 100%;
}
.hero-section .visuals .phone {
  top: 2%;
  left: -5%;
  width: 40%;
}
.hero-section .visuals .phone img {
  object-fit: contain;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .hero-section {
    flex-direction: column;
    margin-top: 5rem;
    height: auto;
  }
  .hero-section .introduction {
    text-align: center;
    margin-left: 0;
  }
  .hero-section .introduction h1 {
    font-size: 2rem;
    font-size: clamp(2rem, 7vw, 3rem);
  }
  .hero-section .introduction h1 .small-h1 {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 6vw, 2.5rem);
  }
  .hero-section .introduction p {
    margin: auto;
  }
  .hero-section .visuals {
    max-width: 22rem;
    padding-left: 0;
    height: auto;
    width: 70%;
    margin-top: 3rem;
  }
  .hero-section .visuals .laptop {
    right: -20%;
    width: 90%;
  }
  .hero-section .visuals .phone {
    top: -5%;
    left: -15%;
    width: 50%;
  }
}
@media screen and (max-width: 450px) {
  .hero-section .introduction {
    text-align: left;
  }
  .hero-section .introduction h1 {
    font-size: 2rem;
    font-size: clamp(2rem, 7vw, 3rem);
  }
  .hero-section .introduction h1 .small-h1 {
    font-size: 1.5rem;
    font-size: clamp(1.25rem, 6vw, 2.5rem);
  }
  .hero-section .introduction p {
    margin: auto;
  }
  .hero-section .visuals .laptop {
    bottom: -20%;
    right: -20%;
  }
  .hero-section .visuals .phone {
    left: -15%;
    width: 55%;
  }
}
#about .title-section {
  max-width: 25rem;
  position: relative;
}
#about .about--content {
  display: flex;
}
#about .about--content > * {
  width: 100%;
}
#about .about--content p {
  margin-bottom: 1.5rem;
}
#about .about--content .recent-skills p {
  margin-bottom: 1.5rem;
}
#about .about--content .recent-skills ul {
  color: var(--text-light);
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  list-style: none;
}
#about .about--content .recent-skills li {
  margin-bottom: 1.2rem;
  padding-left: 1.5rem;
  position: relative;
}
#about .about--content .recent-skills li:before {
  content: "▹";
  position: absolute;
  left: 0px;
  font-size: 1.5rem;
  color: var(--primary);
  line-height: 15px;
}

@media screen and (max-width: 768px) {
  #about .about--content {
    margin-top: 1rem;
  }
  #about .about--content div:first-child {
    display: none;
  }
}
#my-background {
  position: relative;
}
#my-background .title-section {
  max-width: 35rem;
}
#my-background .my-background--content {
  margin-top: 4rem;
}
#my-background .my-background--content .tabs {
  position: relative;
  border-bottom: 1px solid var(--secondary);
}
#my-background .my-background--content .tabs .tabs-titles {
  display: flex;
}
#my-background .my-background--content .tabs .tabs-titles h3 {
  position: relative;
  display: flex;
  color: var(--secondary);
  width: 12rem;
  padding-bottom: 1rem;
  transition: 0.3s;
  cursor: pointer;
  transition: 0.2s;
}
#my-background .my-background--content .tabs .tabs-titles h3:before {
  transition: 0.4s;
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--primary);
  bottom: -1px;
}
#my-background .my-background--content .tabs .tabs-titles h3:hover {
  color: var(--txt-light);
}
#my-background .my-background--content .tabs .tabs-titles h3.active {
  color: var(--txt-light);
}
#my-background .my-background--content .tabs .tabs-titles h3.active:before {
  width: 70%;
}
#my-background .category {
  margin-top: 2rem;
  display: block;
  opacity: 1;
  transition: opacity 1s;
}
#my-background .category.hidden {
  opacity: 0;
}
#my-background .category.removed {
  display: none;
}
#my-background .category:hover .block {
  opacity: 0.5;
}
#my-background .category a {
  display: inline-block;
}
#my-background .category .block {
  display: flex;
  max-width: 55rem;
  padding: 1.5rem;
  transition: 0.3s;
  border-radius: 10px;
  margin-bottom: 3rem;
}
#my-background .category .block .date {
  width: 30%;
  max-width: 12rem;
  font-size: 0.875rem;
}
#my-background .category .block .content {
  width: 70%;
}
#my-background .category .block .content p {
  font-size: 0.875rem;
  margin-bottom: 0.8rem;
}
#my-background .category .block .content h4,
#my-background .category .block .content .subtitle {
  font-weight: 700;
  font-size: 1rem;
}
#my-background .category .block .content .subtitle {
  margin-bottom: 0.5rem;
}
#my-background .category .block .content .title {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  transition: 0.2s;
}
#my-background .category .block .content .title h4 {
  transition: 0.2s;
  margin-right: 8px;
}
#my-background .category .block .content .title img {
  margin-right: 0.5rem;
}
#my-background .category .block .content .title i {
  bottom: -2px;
}
#my-background .category .block .content .technologies {
  margin-top: 1rem;
}
#my-background .category .block:hover {
  background: rgba(142, 150, 171, 0.05);
  opacity: 1;
}
#my-background .category .block:hover .content .title h4,
#my-background .category .block:hover .content i {
  color: var(--primary);
}
#my-background .category .block:hover .content i {
  bottom: 2px;
  left: 5px;
}

@media screen and (max-width: 768px) {
  #my-background .title-section {
    max-width: 30rem;
  }
  #my-background .my-background--content {
    margin-top: 2rem;
  }
  #my-background .my-background--content .block {
    display: block;
    padding: 0;
    margin-bottom: 3rem;
  }
  #my-background .my-background--content .block .date {
    margin-bottom: 1rem;
    width: 100%;
  }
  #my-background .my-background--content .block .content {
    width: 100%;
  }
}
#projects .title-section {
  max-width: 30rem;
  position: relative;
  margin-bottom: 5rem;
}
#projects .projects-list .project:nth-child(2n) {
  margin-left: auto;
}
#projects .project {
  max-width: 40rem;
  margin-bottom: 10rem;
  border: 1px solid rgba(255, 255, 255, 0.11);
}
#projects .project .header {
  height: 20rem;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
#projects .project .header img {
  position: absolute;
  transition-timing-function: cubic-bezier(0.31, 0.48, 0.37, 1.01);
  transition-duration: 0.5s;
}
#projects .project .content {
  padding: 2.5rem 3rem;
}
#projects .project .content .title {
  margin-bottom: 1rem;
}
#projects .project .content .title p {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-light);
}
#projects .project .content .description p {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}
#projects .project .content .technologies {
  margin-top: 1.2rem;
}
#projects .project:first-child .header {
  background-image: url("./../img/bg-1.png");
}
#projects .project:first-child .header img:first-child {
  right: 10%;
  width: 50%;
  bottom: -2rem;
  z-index: 1;
}
#projects .project:first-child .header img:nth-child(2) {
  width: 70%;
  left: 10%;
  bottom: -3rem;
}
#projects .project:first-child:hover img:first-child {
  bottom: -1px !important;
}
#projects .project:first-child:hover img:nth-child(2) {
  bottom: -2rem !important;
}
#projects .project:nth-child(2) .header {
  background-image: url("./../img/bg-2.png");
}
#projects .project:nth-child(2) .header img:first-child {
  width: 40%;
  left: 8%;
  bottom: -2rem;
}
#projects .project:nth-child(2) .header img:nth-child(2) {
  width: 40%;
  right: 8%;
  bottom: -1rem;
}
#projects .project:nth-child(2):hover img:first-child {
  bottom: -1px !important;
}
#projects .project:nth-child(2):hover img:nth-child(2) {
  bottom: -1px !important;
}
#projects .project:nth-child(3) .header {
  background-image: url("./../img/bg-3.png");
}
#projects .project:nth-child(3) .header img:first-child {
  height: 90%;
  left: 5%;
  z-index: 1;
  bottom: 0;
}
#projects .project:nth-child(3) .header img:nth-child(2) {
  height: 100%;
  right: 8%;
}
#projects .project:nth-child(4) .header {
  background-image: url("./../img/bg-1.png");
}
#projects .project:nth-child(4) .header img:first-child {
  width: 40%;
  left: 5%;
  bottom: -2rem;
}
#projects .project:nth-child(4) .header img:nth-child(2) {
  width: 30%;
  right: 8%;
  bottom: -1rem;
}
#projects .project-with-link {
  cursor: pointer;
  transition: 0.3s;
  display: block;
}
#projects .project-with-link .title {
  display: flex;
  align-items: baseline;
}
#projects .project-with-link .title p {
  margin-right: 0.5rem;
}
#projects .project-with-link:hover {
  background-color: rgba(88, 88, 88, 0.1);
}
#projects .project-with-link:hover .title p,
#projects .project-with-link:hover .title i {
  color: var(--primary);
}
#projects .project-with-link:hover .title i {
  bottom: 5px;
  left: 5px;
}

@media screen and (max-width: 768px) {
  #projects .title-section {
    margin-bottom: 2rem;
  }
  #projects .project {
    margin-bottom: 5rem;
  }
  #projects .project .header {
    height: 15rem;
  }
  #projects .project:first-child .header img:first-child {
    right: 5%;
    height: 90%;
    width: auto;
    bottom: 0;
    max-width: 15rem;
  }
  #projects .project:first-child .header img:nth-child(2) {
    left: 5%;
    max-width: 20rem;
    bottom: 0;
  }
  #projects .project:nth-child(2) .header img:first-child {
    height: 90%;
    width: auto;
    bottom: 0;
    left: 10%;
  }
  #projects .project:nth-child(2) .header img:nth-child(2) {
    width: 50%;
    max-width: 13rem;
    bottom: 0;
    right: 10%;
  }
}
@media screen and (max-width: 450px) {
  #projects .project .content {
    padding: 1.5rem 0.8rem;
  }
  #projects .project:first-child .header img:nth-child(2) {
    height: 45%;
    width: auto;
  }
  #projects .project:nth-child(2) .header img:first-child {
    left: 5%;
  }
  #projects .project:nth-child(2) .header img:nth-child(2) {
    right: 5%;
  }
}
.contact {
  display: flex;
  margin-top: 15rem;
  max-width: 62rem;
}
.contact .cta {
  position: relative;
  width: 60%;
  font-weight: 700;
}
.contact .cta P {
  font-size: 2.5rem;
  color: var(--text-light);
  margin-bottom: 1rem;
}
.contact .cta a {
  font-size: 2rem;
  color: var(--primary);
}
.contact .cta a i {
  position: relative;
  transform: rotate(-45deg);
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 1.2rem;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
.contact .cta a:hover i {
  bottom: 10px;
  left: 10px;
}
.contact .visuals {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.contact .visuals .enveloppe,
.contact .visuals .lightbulb {
  position: absolute;
}
.contact .visuals .lightbulb {
  left: 0;
  bottom: 0;
  max-width: 7rem;
  width: 30%;
}
.contact .visuals .enveloppe {
  right: -4%;
  top: -10%;
  width: 50%;
  min-width: 10rem;
  max-width: 12rem;
}
.contact .visuals .gradient-orb {
  width: 100%;
  max-width: 20rem;
}

@media screen and (max-width: 900px) {
  .contact {
    margin-top: 8rem;
    flex-direction: column;
  }
  .contact .cta {
    width: 100%;
    text-align: center;
  }
  .contact .visuals {
    width: 80%;
    max-width: 20rem;
    margin: auto;
    margin-top: 3rem;
  }
  .contact .visuals .gradient-orb {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .contact .cta p {
    font-size: 2rem;
  }
  .contact .cta a {
    font-size: 1.5rem;
  }
  .contact .visuals .enveloppe {
    min-width: 5rem;
  }
}

/*# sourceMappingURL=index.css.map */
